.cta-text {
    .section {
        &__header {
            *:not(.btn) {
                color: $red;
            }
            .preheading {
                text-align: left;
            }
    
            @media screen and (min-width: $laptop) {
                .preheading {
                    padding-left: 5rem;
                }

                .btn {
                    margin-top: 1rem;
                }
            }
            
            @media screen and (min-width: $desktop) {
                .preheading {
                    padding-left: 15%;
                }
    
                h2 {
                    text-indent: 25%;
                }
            }
        }

        &__content {
            max-width: 350px;
            margin: 0 auto;
            padding-top: 3rem;
            a {
                color: $purple;
            }
        }

        &__cta {
            margin-top: 1.5rem;
        }
    }

    .container {
        @media screen and (min-width: $desktop) {
            &--medium {
                max-width: 1200px;
            }
        }
    }
}