.featured-text {

    &__text {
        text-transform: unset;
    }

    .section__header {
        padding-bottom: 2rem;
    }

    @media screen and (min-width: $laptop) {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .section__header {
            padding-bottom: 6rem;
        }
        
        &__text {            
            span {
                color: $purple;
            }
        }
    }

    @media screen and (min-width: 1450px) {
        .section__header {
            padding-bottom: 8rem;
        }

        &__text {
            padding-right: 3rem;
        }
    }
}