.featured-text {
    background-color: $red;
    
    h2, 
    .h2 {
        color: $cream;
    }

    &__text {
        text-transform: unset;
    }

    @media screen and (min-width: $laptop) {
        padding-top: 5rem;
        padding-bottom: 5rem;
        
        &__text {
            text-indent: 12rem;
            
            span {
                color: $purple;
            }
        }
    }

    @media screen and (min-width: 1450px) {
        &__text {
            text-indent: 30%;
            padding-right: 3rem;
        }
    }
}