.image-slides {
    padding-left: 0;
    padding-right: 0;
    .section__header {
        padding: 1rem 1.5rem;
        .section-title {
            border-top: 1px solid rgba($color: $off-white, $alpha: 0.60);
        }
    }
    &__gallery {
        overflow: hidden;
        width: 100%;
        .inner {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    &__track {
        display: flex;
        gap: 1rem;
        width: 100%;
        overflow: auto;

        

        @media screen and (min-width: $laptop) {
            width: max-content;
            gap: 1.5rem;
        }
    }

    &__image {
        width: 75%;
        min-width: 250px;

        @media screen and (min-width: $laptop) {
            width: auto;
            flex: 0 0 calc((100vw - 72px) / 4);
        }
        img {
            width: 100%;
            max-width: unset;
            aspect-ratio: 3/4;
            object-fit: cover;
        }
    }
}