.partners {

    .section__header {
        h2 {
          padding-top: 1rem;
          border-top: 1px solid rgba($color: $off-white, $alpha: 0.60);
        }
    }

    &__grid {
        @media screen and (min-width: $laptop) {
            padding: 0 3rem;
        }

        &-item {
            position: relative;
            display: inline-block;

            @media screen and (max-width: $mobile) {
                font-size: $heading_h3__mobile;
            }

            figure {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -40px;
                right: 0.9em;
                width: 120px;
                aspect-ratio: 1/1;
                transform: translateX(100%);
                pointer-events: none;
                background-color: $cream;
                z-index: 2;
                padding: 0.5rem;
                opacity: 0;
                transition: opacity 200ms ease;
            } 


            @media screen and (min-width: $laptop) {
                &:nth-last-of-type(odd) {
                    span {
                        color: $red;
                    }
                }
                &.has-image {
                    span {
                        //color: $red;
                    }
                }
            }

            &:hover {
                &.has-image {
                    figure {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }

          
    }
}