.team-members{

    .section__header {
        padding-bottom: 3rem;

        @media screen and (min-width: $laptop) {
            padding-bottom: 5rem;
            text-align: center;
        }

        @media screen and (min-width: $desktop_lg) {
            .second-heading {
                display: flex;
                justify-content: space-between;
            }
        }

        .display-1{
            @media screen and (max-width: $mobile) {
                font-size: 4.6rem;
            }

            @media screen and (min-width: $laptop) and (max-width: $desktop) {
                font-size: 10rem;
            }

            @media screen and (min-width: $desktop_lg) and (max-width: 1600px) {
                font-size: 12rem;
            }
        } 
    }

    .swiper {
        padding-right: 1.5rem;
        overflow: visible;

        @media screen and (min-width: $laptop) {
            padding: 0 3rem;
        }
    }
    
}