.testimonials {

    &-slider {
        .section__header {
            border-top: 1px solid $gray;
            padding: 1rem 0 1.5rem;
            @media screen and (min-width: $laptop) {
                padding-bottom: 5rem;
            }
        }

        .swiper-buttons {
            font-family: $heading_font;
            font-size: 1.25rem;
            padding: 1rem 0 1.5rem;
            text-align: right;
            letter-spacing: 1px;

            @media screen and (min-width: $laptop) {
                position: absolute;
                right: 0;
                bottom: 8rem;
            }
        }
        

    }

    &__quote-mark {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__brands {
        display: flex;
        margin-top: 3rem;

        @media screen and (min-width: $laptop) {
            margin-top: 5rem;
        }

        &-btn {
            color: $gray;
            padding: 0.5rem 0;
            padding-right: 1rem;
            border: none;
            border-bottom: 1px solid;
            text-transform: uppercase;
            background-color: transparent;
            transition: all 200ms ease;

            @media screen and (min-width: $laptop) {
                padding: 1.5rem 0;
                padding-right: 6rem;

            }

            &.active {
                color: $red;

            }
            
        }
    }

    

    &__card {

        @media screen and (min-width: $laptop) {
            padding-right: 3rem;
        }

        @media screen and (min-width: $desktop_lg)  {
            width: 75%;
            padding-right: 0;
        }

        &-meta {
            display: flex;
            align-items: center;
            padding-top: 1.5rem;
            text-transform: uppercase;

            @media screen and (min-width: $desktop_lg) {
                padding-top: 4rem;
            }
        }

        &-author {
            text-transform: uppercase;
            font-size: 1.1rem;
        }

        &-author-icon {
            position: relative;
            display: inline-block;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            overflow: hidden;
        }

        &-quote {
            text-transform: unset;
        }
    }
}