.blog {
    &-roll-sort {
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-top: 1px solid rgba($gray, 0.5);
        &__label {
            line-height: 1;
            margin-bottom: 1rem;
        }

        @media screen and (min-width: $laptop) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 5rem;
        }
    }

    &-roll__posts {
        padding: 0.5rem;

        .blog-post-item {
            position: relative;
            padding: 3rem 0;
            &::before {
                content: '';
                position: absolute;
                display: block;
                left: -0.5rem;
                bottom: 0;
                width: calc(100% + 1rem);
                height: 1px;
                background-color: rgba($color: $gray, $alpha: 0.5);
            }
            
            @media screen and (min-width: $laptop) {
                padding: 5rem 0;
            }
        }
    }
}

.template-blog-page {
    @media screen and (min-width: $desktop_lg) {
        .hero--basic .container {
            max-width: 1400px;
            h1 {
                padding-right: 0.5em;
            }
        }
    }

    
}