.single-case-study {
    .testimonial {
        &__card-quote {
            color: $pink;
            text-transform: initial;
            @media screen and (min-width: $desktop) {
                padding-right: 1em;
            }
        }

        &__card-meta {
            display: block;
            margin-top: 2rem;
            
            span {
                color: $gray;
                text-transform: uppercase;
            }
        }
    }

    .strategy__counters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .counter__block {
            width: 50%;  
            padding-bottom: 1rem;
            .count {
                line-height: 0.8;
            }
        }

        @media screen and (min-width: $laptop) {
            .counter__block {
                width: auto;
            }
        }
    }
}