.page-content {

    .single-page & {
        .container {
            max-width: $container_md;
        }
    }
}

.single-post {
    &__hero {
        .hero__breadcrumbs {
            padding-top: 0;
            padding-bottom: 2rem;
        }

        &-meta {
            display: flex;
            justify-content: center;
            
            &-block {
                font-family: $heading_font;
                text-transform: uppercase;
                padding: 1.5rem;
                p {
                    color: $gray;
                }
                span {
                    color: $purple;
                }
            }
        }

        &-content {
            padding-bottom: 2rem;
            @media screen and (min-width: $laptop) {
                padding-bottom: 5rem;
            }
        }

        &-image {
            position: relative;
            aspect-ratio: 20/9;
        }
    }

    &__content {
        .container {
            max-width: 800px;
        }
    }
}