.page-content {

    .single-page & {
        .container {
            max-width: $container_md;
        }
    }
}

.single-post {
    &__hero {
        .hero__breadcrumbs {
            padding-top: 0;
            padding-bottom: 2rem;
        }

        &-meta {
            display: flex;
            justify-content: center;

            &-block {
                font-family: $heading_font;
                text-transform: uppercase;
                padding: 1.5rem;

                p {
                    color: $gray;
                }

                span {
                    color: $purple;
                }
            }
        }

        &-content {
            padding-bottom: 2rem;

            .post-categories {
                margin-bottom: 1.5rem;
            }

            @media screen and (min-width: $laptop) {
                padding-bottom: 5rem;

                .post-categories {
                    margin-bottom: 4rem;
                }
            }
        }

        &-image {
            position: relative;
            aspect-ratio: 20/9;
        }
    }

    &__content {
        .container {
            max-width: 800px;
        }

        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6 {
            margin-top: 1.5rem;
        }

        p {
            color: #333333;
        }

        a {
            color: $purple;
        }
    }
}