.full-width-media {
    &__wrapper {
        &.rectangle {
            aspect-ratio: 5/3;
        }

        &.square {
            aspect-ratio: 5/4;
        }

        img,
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}