.media-grid {
    &__grid {

        &-item {
            aspect-ratio: 5/4;

            @media screen and (max-width: $tablet) {
                margin-bottom: 0.75rem;
                &.empty {
                    display: none;
                }
            }

            video,
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        @media screen and (min-width: $laptop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            &-item {
                width: calc(50% - 0.4rem);
                margin-bottom: 0.8rem;
            }
        }
    }
}