.hero--animated {

    .container {
        position: relative;
    }

    .hero__title {
        position: relative;
        z-index: 2;
        span {
            display: block;
        }

        @media screen and (min-width: $laptop) {
            margin-bottom: 2em;
        }
    }

    .hero__image-wrapper {
        position: relative;

        img,
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        video {
            opacity: 0;
            &.loaded {
                opacity: 1;
            }
        }

        @media screen and (min-width: $laptop) {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            right: 0;
            top: 190px;
            height: 700px;
            width: 45%;
        }

        @media screen and (max-width: $laptop - 1px) {
            width: 80%;
            margin-left: auto;
            transform: translateY(-1.5rem);
        }
    }

    .hero__content {
        h3 {
            text-transform: unset;
        }

        .hero__cta {
            margin-top: 1.5rem;
            .btn {
                &:hover {
                    border: 2px solid;
                }
            }
        }

        @media screen and (min-width: $laptop) {
            width: 55%;
            p {
                width: 70%;
            }
        }
    }
}