.image-content-blocks {
    .section__header {
        border-top: 1px solid rgba($color: $gray, $alpha: 0.50);
        padding: 1rem 0 3rem;
        .preheading {
            display: block;
            margin-bottom: 3rem;
        }
        @media screen and (min-width: $laptop) {
            h2 {
                width: 70%;
            }
        }
    }

    &__block {
        padding: 1.5rem 0;
        border-top: 1px solid rgba($color: $gray, $alpha: 0.50);

        &-count {
            color: $red;
            font-size: 1.1rem;
        }

        &-link {
            // display: inline-block;
            // font-family: $heading_font;
            // color: $red;
            // text-transform: uppercase;
            // text-decoration: none;
            // font-size: 0.9rem;
            margin-bottom: 1.5rem;
        }

        

        @media screen and (min-width: $laptop) {
            padding: 3rem 0;
            &-count {
                color: $red;
                padding-bottom: 2rem;
            }

            &-link{
                margin-top: auto;
                margin-bottom: 0;
                align-self: flex-start;
            }

            &-nav {
                position: absolute;
                bottom: 0;
                right: 3rem;
                display: flex;
                flex-direction: column;
                text-align: right;

                a {
                    color: $gray;
                    font-family: $heading_font;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    &.active {
                        color: $red;
                    }
                }
            }
            .row {
                display: flex !important;
                justify-content: space-between;
                flex-wrap: nowrap;
                .col {
                    flex: unset;

                    &--left {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 45%;

                        h5 {
                            margin-bottom: 1.5rem;
                        }
                        .content {
                            width: 80%;
                        }
                    }
                    
                    &--right {
                        width: calc(50% + 2rem);
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding: 3rem 0;
            margin: 0;

            li {
                margin: 0;
                padding: 0.5rem 0;
                color: $purple;
                text-transform: uppercase;
                font-family: $heading_font;

                &::before {
                    display: none;
                }
            }

        }

        &-image {
            aspect-ratio: 1/1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .mob-accordion {
        &__trigger {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 0;

            span {
                font-size: 1.1rem;
                color: $red;
            }
        }

        

        @media screen and (max-width: $laptop - 1) {
            .row {
                display: none;
            }
        }
    }

}