.team-card {
    &__thumb {
        position: relative;
        aspect-ratio: 33 / 50;

        .btn {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            transition: all ease 200ms;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            &.hover-image {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        

        @media screen and (min-width: $laptop) {
            aspect-ratio: 386 / 589;

            .btn {
                opacity: 0;
            }

            img {
                transition: all ease 200ms;
                &.hover-image {
                    display: block;
                }
            }

            &:hover {
                .hover-image {
                    opacity: 0;
                    pointer-events: none;
                }
                .btn {
                    opacity: 1;
                }
            }
        }
    }

    &__content {
        padding: 1rem 0;
    }

    &__title {
        font-family: $heading_font;
        font-size: 1.1rem;
        text-transform: uppercase;
    }  
    
    &__position {
        color: $gray;
        font-family: $heading_font;
        text-transform: uppercase;
    }
}

.team-modal {
    &__bio {
        margin-top: 1.5rem;
    }
}