.gheader {
    margin: 0;

    .container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &-content {
        padding: .75rem 1rem;
    }

    &__logo {
        z-index: 100;
        max-width: 180px;
        min-width: 90px;

        svg path {
            fill: $purple;
        }
    }

    .btn {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        transition: background .15s ease, box-shadow .15s ease, border-color .15s ease;

        &--scrolled {
            // @include box-shadow;
            margin: 0;
            // mix-blend-mode: difference;

            // background: $white;
            // border-bottom-color: $xlgray;

            .btn {
                background-color: $purple;
                color: $cream;
            }
        }
    }
}

@media (max-width: $mobile - 1) {
    .gheader {
        &__logo {
            max-width: 200px;
        }
    }
}

@media (max-width: $laptop - 1) {
    .gheader {
        transition: all 200ms ease;
        &.mobile-menu-open {
            background-color: $cream;
            svg path {
                fill: $purple;
            }

            .btn {
                background-color: $purple;
                color: $cream;
            }
        }

        &__logo {
            margin-right: auto;

            svg, img {
                max-height: 46px;
            }
        }
    }
}