.text-cta {
    .section__header {
        padding-top: 1rem;
        padding-bottom: 2rem;
        border-top: 1px solid rgba($color: $gray, $alpha: 0.40);
        @media screen and (min-width: $laptop) {
            padding-bottom: 5rem;
        }
    }

    &__content {
        a {
            color: $purple;
        }
        @media screen and (min-width: $desktop) {
            position: relative;
           
            h3 {
                width: 90%;
                text-transform: unset;
            }

            .btn{
                position: absolute;
                bottom: -1rem;
                right: 0;
            }
        }
    }

    .section__cta {
        margin-top: 1.5rem;
    }
}