@font-face {
    font-family: 'SuisseIntl';
    src: local('SuisseIntl'),
        url('../dist/fonts/SuisseIntl-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}